<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.jmx.database.mapper.AppClusterEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.jmx.database.entity.AppClusterEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cluster_name" property="clusterName" jdbcType="VARCHAR" />
    <result column="cluster_desc" property="clusterDesc" jdbcType="VARCHAR" />
    <result column="is_cluster" property="isCluster" jdbcType="SMALLINT" />
    <result column="app_num" property="appNum" jdbcType="INTEGER" />
    <result column="disorder" property="disorder" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, cluster_name, cluster_desc, is_cluster, app_num, disorder, remark, state, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.appleframework.jmx.database.entity.AppClusterEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_app_cluster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_app_cluster
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_app_cluster
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.appleframework.jmx.database.entity.AppClusterEntityExample" >
    delete from t_app_cluster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.appleframework.jmx.database.entity.AppClusterEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_app_cluster (cluster_name, cluster_desc, is_cluster, 
      app_num, disorder, remark, 
      state, create_time, update_time
      )
    values (#{clusterName,jdbcType=VARCHAR}, #{clusterDesc,jdbcType=VARCHAR}, #{isCluster,jdbcType=SMALLINT}, 
      #{appNum,jdbcType=INTEGER}, #{disorder,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{state,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.jmx.database.entity.AppClusterEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_app_cluster
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clusterName != null" >
        cluster_name,
      </if>
      <if test="clusterDesc != null" >
        cluster_desc,
      </if>
      <if test="isCluster != null" >
        is_cluster,
      </if>
      <if test="appNum != null" >
        app_num,
      </if>
      <if test="disorder != null" >
        disorder,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clusterName != null" >
        #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterDesc != null" >
        #{clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="isCluster != null" >
        #{isCluster,jdbcType=SMALLINT},
      </if>
      <if test="appNum != null" >
        #{appNum,jdbcType=INTEGER},
      </if>
      <if test="disorder != null" >
        #{disorder,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.appleframework.jmx.database.entity.AppClusterEntityExample" resultType="java.lang.Integer" >
    select count(*) from t_app_cluster
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_app_cluster
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.clusterName != null" >
        cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      </if>
      <if test="record.clusterDesc != null" >
        cluster_desc = #{record.clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.isCluster != null" >
        is_cluster = #{record.isCluster,jdbcType=SMALLINT},
      </if>
      <if test="record.appNum != null" >
        app_num = #{record.appNum,jdbcType=INTEGER},
      </if>
      <if test="record.disorder != null" >
        disorder = #{record.disorder,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=SMALLINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_app_cluster
    set id = #{record.id,jdbcType=INTEGER},
      cluster_name = #{record.clusterName,jdbcType=VARCHAR},
      cluster_desc = #{record.clusterDesc,jdbcType=VARCHAR},
      is_cluster = #{record.isCluster,jdbcType=SMALLINT},
      app_num = #{record.appNum,jdbcType=INTEGER},
      disorder = #{record.disorder,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=SMALLINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.appleframework.jmx.database.entity.AppClusterEntity" >
    update t_app_cluster
    <set >
      <if test="clusterName != null" >
        cluster_name = #{clusterName,jdbcType=VARCHAR},
      </if>
      <if test="clusterDesc != null" >
        cluster_desc = #{clusterDesc,jdbcType=VARCHAR},
      </if>
      <if test="isCluster != null" >
        is_cluster = #{isCluster,jdbcType=SMALLINT},
      </if>
      <if test="appNum != null" >
        app_num = #{appNum,jdbcType=INTEGER},
      </if>
      <if test="disorder != null" >
        disorder = #{disorder,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=SMALLINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appleframework.jmx.database.entity.AppClusterEntity" >
    update t_app_cluster
    set cluster_name = #{clusterName,jdbcType=VARCHAR},
      cluster_desc = #{clusterDesc,jdbcType=VARCHAR},
      is_cluster = #{isCluster,jdbcType=SMALLINT},
      app_num = #{appNum,jdbcType=INTEGER},
      disorder = #{disorder,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      state = #{state,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>