<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.jmx.database.mapper.extend.AppClusterExtendMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.jmx.database.entity.AppClusterEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="cluster_name" property="clusterName" jdbcType="VARCHAR" />
    <result column="cluster_desc" property="clusterDesc" jdbcType="VARCHAR" />
    <result column="is_cluster" property="isCluster" jdbcType="SMALLINT" />
    <result column="app_num" property="appNum" jdbcType="INTEGER" />
    <result column="disorder" property="disorder" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="SMALLINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectByPage" resultMap="BaseResultMap">
    select *
    from t_app_cluster where ( state = 0 or state = 1)
    <if test="se.keyword != null" >
       and ( cluster_name like '%${se.keyword}%' or cluster_desc like '%${se.keyword}%' )
    </if>
    order by id asc
  </select>

</mapper>