<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.jmx.database.mapper.extend.AppInfoExtendMapper" >

  <sql id="Base_Column_List" >
    info.id as id, info.node_id as nodeId, info.cluster_id as clusterId, 
    info.app_name as appName, info.app_version as appVersion, 
    info.web_port as webPort, info.web_context as webContext, 
    info.jmx_port as jmxPort, info.service_port as servicePort, 
    info.install_path as installPath, info.disorder as disorder, 
    info.remark as remark, info.state as state, info.conf_env as confEnv,
    info.create_time as createTime, info.update_time as updateTime,
    config.is_alert as isAlert
  </sql>
  
  <select id="selectByPage" resultType="com.appleframework.monitor.model.AppInfoBo">
    select
    <include refid="Base_Column_List" />
    
    from t_app_info as info, t_app_config as config
    where ( info.state = 0 or info.state = 1) and info.id = config.id
    <if test="se.keyword != null" >
       and ( info.app_name like '%${se.keyword}%' or info.install_path like '%${se.keyword}%' or
       		info.node_id in (
       			select node.id from t_node_info as node where node.ip like '%${se.keyword}%' 
       		)
       )
    </if>
    <if test="so.nodeId != null and so.nodeId !=''" >
       and  info.node_id = ${so.nodeId} 
    </if>
    <if test="so.clusterId != null and so.clusterId !=''" >
       and  info.cluster_id = ${so.clusterId} 
    </if>
    
    <if test="so.appVersion != null and so.appVersion !=''" >
       and  info.app_version like '%${so.appVersion}%'
    </if>
    <if test="so.confEnv != null and so.confEnv !='' " >
       and  info.conf_env like '%${so.confEnv}%'
    </if>
    
    order by 
    
    <choose>
		<when test="se.orderField != null and se.orderField != ''">
			${se.orderField}
		</when>
		<otherwise>
			info.id
		</otherwise>
	</choose>
    
    <choose>
		<when test="se.orderDirection != null and se.orderDirection != ''">
			${se.orderDirection}
		</when>
		<otherwise>
			desc
		</otherwise>
	</choose>
    
  </select>

</mapper>