<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.appleframework.jmx.database.mapper.ThirdPlusEntityMapper" >
  <resultMap id="BaseResultMap" type="com.appleframework.jmx.database.entity.ThirdPlusEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="third_key" property="thirdKey" jdbcType="VARCHAR" />
    <result column="third_secret" property="thirdSecret" jdbcType="VARCHAR" />
    <result column="third_extend" property="thirdExtend" jdbcType="VARCHAR" />
    <result column="third_class" property="thirdClass" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, type, name, third_key, third_secret, third_extend, third_class, create_time, 
    update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntityExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_third_plus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_third_plus
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_third_plus
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntityExample" >
    delete from t_third_plus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_third_plus (type, name, third_key, 
      third_secret, third_extend, third_class, 
      create_time, update_time)
    values (#{type,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{thirdKey,jdbcType=VARCHAR}, 
      #{thirdSecret,jdbcType=VARCHAR}, #{thirdExtend,jdbcType=VARCHAR}, #{thirdClass,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntity" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_third_plus
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        type,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="thirdKey != null" >
        third_key,
      </if>
      <if test="thirdSecret != null" >
        third_secret,
      </if>
      <if test="thirdExtend != null" >
        third_extend,
      </if>
      <if test="thirdClass != null" >
        third_class,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="thirdKey != null" >
        #{thirdKey,jdbcType=VARCHAR},
      </if>
      <if test="thirdSecret != null" >
        #{thirdSecret,jdbcType=VARCHAR},
      </if>
      <if test="thirdExtend != null" >
        #{thirdExtend,jdbcType=VARCHAR},
      </if>
      <if test="thirdClass != null" >
        #{thirdClass,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntityExample" resultType="java.lang.Integer" >
    select count(*) from t_third_plus
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_third_plus
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdKey != null" >
        third_key = #{record.thirdKey,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdSecret != null" >
        third_secret = #{record.thirdSecret,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdExtend != null" >
        third_extend = #{record.thirdExtend,jdbcType=VARCHAR},
      </if>
      <if test="record.thirdClass != null" >
        third_class = #{record.thirdClass,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_third_plus
    set id = #{record.id,jdbcType=INTEGER},
      type = #{record.type,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      third_key = #{record.thirdKey,jdbcType=VARCHAR},
      third_secret = #{record.thirdSecret,jdbcType=VARCHAR},
      third_extend = #{record.thirdExtend,jdbcType=VARCHAR},
      third_class = #{record.thirdClass,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntity" >
    update t_third_plus
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="thirdKey != null" >
        third_key = #{thirdKey,jdbcType=VARCHAR},
      </if>
      <if test="thirdSecret != null" >
        third_secret = #{thirdSecret,jdbcType=VARCHAR},
      </if>
      <if test="thirdExtend != null" >
        third_extend = #{thirdExtend,jdbcType=VARCHAR},
      </if>
      <if test="thirdClass != null" >
        third_class = #{thirdClass,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.appleframework.jmx.database.entity.ThirdPlusEntity" >
    update t_third_plus
    set type = #{type,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      third_key = #{thirdKey,jdbcType=VARCHAR},
      third_secret = #{thirdSecret,jdbcType=VARCHAR},
      third_extend = #{thirdExtend,jdbcType=VARCHAR},
      third_class = #{thirdClass,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>